.september-week1 {
    background-image: url(../../assets/img/sepweek1bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .row {
        height: 100%;
        .day-box {
            border-left: 2px solid rgba(151, 157, 160, 0.455);
            .week-overlap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .week-date-num {
                    display: flex;
                    height: 2rem;
                    width: 2rem;
                    justify-content: center;
                    align-items: center;
                    font-family: Aleo;
                    font-style: italic;
                    border-radius: 50%;
                    background-color: rgb(217, 241, 252);
                }
            }
            &:last-child {
                .week-date-num {
                    font-size: 12px;
                }
            }
        }
    }
}
