.march-index {
    background-image: url("../../assets/mar2022/2022MarDigitalBujo.png");
}

.march-week1 {
    background-image: url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png),
        url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position:
        left -20% top -35%,
        right -30% bottom -50%;
    align-items: center;

    .week-overlap {
        .square {
            height: 4rem;
            width: 4rem;
            border: rgb(83, 110, 149) solid 2px;
            font-size: 2rem;
            font-family: "Josefin Slab";
            color: rgba(64, 105, 143, 0.8);
            background-color: rgba(#fff, 0.7);
            box-shadow:
                rgb(71, 83, 126) 0px 10px 10px 0px,
                rgba(78, 78, 164, 0.995) 0px 10px 10px 2px;
        }
        .to-do-lines-container {
            height: 80%;
            input {
                box-shadow: 0.1em 0.1em 0.4em $border-shadow-mar-1;
            }
            .cbx {
                &:hover {
                    .tick-box {
                        border-color: $focus-border-mar-1;
                    }

                    .input-field {
                        border-color: $focus-border-mar-1;
                    }
                }
                input {
                    border-color: $input-border-default-mar-1;
                    box-shadow: $border-shadow-mar-1;
                }
                .tick-box {
                    background-color: $tick-box-background-mar-1;
                    border: 0.1em solid $input-border-default-mar-1;
                    &:before {
                        background: $blink-color-mar-1;
                    }
                }
                .input-box {
                    &::after {
                        background: $strike-line-mar-1;
                    }
                }
                .input-field {
                    background-color: $input-box-background-mar-1;
                    border: 1.5px solid $input-border-default-mar-1;
                    color: $font-active-mar-1;
                }
            }
            .tick-box {
                &:checked + .cbx {
                    .tick-box {
                        border-color: $tick-border-checked-mar-1;
                        background: $tick-box-checked-background-mar-1;
                    }
                    .input-field {
                        border-color: $tick-border-checked-mar-1;
                        color: $font-disabled-mar-1;
                        background-color: $tick-box-checked-background-mar-1;
                    }
                }
            }
        }
    }
}
.march-week2 {
    .flower-bg {
        background-image: url(../../assets/mar2022/flowerrepeated.jpeg);
    }
    .flower-bg-re {
        background-image: url(../../assets/mar2022/flowerrepeated.jpeg);
        background-position: bottom left;
    }
    .h-100 > .row {
        height: calc(100% / 3);
        overflow-y: auto;
    }
    .week-fig {
        width: 55%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 15%;
            left: 0;
            width: 180%;
            transform: translate(-25%, 0);
            height: 2px;
            background-color: #b2c0dd;
        }
    }
    .to-do-lines-container {
        height: 80%;
        input {
            box-shadow: 0.1em 0.1em 0.4em $border-shadow-mar-2;
        }
        .cbx {
            &:hover {
                .tick-box {
                    border-color: $focus-border-mar-2;
                }

                .input-field {
                    border-color: $focus-border-mar-2;
                }
            }
            input {
                border-color: $input-border-default-mar-2;
                box-shadow: $border-shadow-mar-2;
            }
            .tick-box {
                background-color: $tick-box-background-mar-2;
                border: 0.1em solid $input-border-default-mar-2;
                &:before {
                    background: $blink-color-mar-2;
                }
            }
            .input-box {
                &::after {
                    background: $strike-line-mar-2;
                }
            }
            .input-field {
                background-color: $input-box-background-mar-2;
                border: 1.5px solid $input-border-default-mar-2;
                color: $font-active-mar-2;
            }
        }
        .tick-box {
            &:checked + .cbx {
                .tick-box {
                    border-color: $tick-border-checked-mar-2;
                    background: $tick-box-checked-background-mar-2;
                }
                .input-field {
                    border-color: $tick-border-checked-mar-2;
                    color: $font-disabled-mar-2;
                    background-color: $tick-box-checked-background-mar-2;
                }
            }
        }
    }
}
.march-week3 {
    background-image: url(../../assets/mar2022/backgroundbypurplelavenderf.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    .row {
        padding: 0;
        & > * {
            padding: 0.5em;
        }
        margin-right: 0;
    }
    .outer-row {
        .inner-row {
            .week-header {
                color: white;
                font-family: "Josefin Slab", serif;
                font-size: 1.5rem;
            }
            &:nth-child(even) .week-header {
                background-color: #ac87c5;
            }
            &:nth-child(odd) .week-header {
                background-color: #756ab6;
            }
        }
        .week-overlap {
            border: rgb(108, 124, 187) solid 1.5px;
            background-color: rgba(#fff, 0.5);
            box-shadow: 10px 5px 5px rgb(164, 160, 187);
            .to-do-lines-container {
                height: 80%;
                input {
                    box-shadow: 0.1em 0.1em 0.4em $border-shadow-mar-3;
                }
                .cbx {
                    &:hover {
                        .tick-box {
                            border-color: $focus-border-mar-3;
                        }

                        .input-field {
                            border-color: $focus-border-mar-3;
                        }
                    }
                    input {
                        border-color: $input-border-default-mar-3;
                        box-shadow: $border-shadow-mar-3;
                    }
                    .tick-box {
                        background-color: $tick-box-background-mar-3;
                        border: 0.1em solid $input-border-default-mar-3;
                        &:before {
                            background: $blink-color-mar-3;
                        }
                    }
                    .input-box {
                        &::after {
                            background: $strike-line-mar-3;
                        }
                    }
                    .input-field {
                        background-color: $input-box-background-mar-3;
                        border: 1.5px solid $input-border-default-mar-3;
                        color: $font-active-mar-3;
                    }
                }
                .tick-box {
                    &:checked + .cbx {
                        .tick-box {
                            border-color: $tick-border-checked-mar-3;
                            background: $tick-box-checked-background-mar-3;
                        }
                        .input-field {
                            border-color: $tick-border-checked-mar-3;
                            color: $font-disabled-mar-3;
                            background-color: $tick-box-checked-background-mar-3;
                        }
                    }
                }
            }
        }
    }
}
.march-week4 {
    .row {
        padding: 0;
        & > * {
            padding: 0.5em;
        }
        margin-right: 0;
    }
    .col-lg-2,
    .col-lg-6 {
        padding: 0;
    }
    .crane-img,
    .hydrangea-img {
        background-position: left center;
        background-repeat: no-repeat;
        overflow-x: visible;
        overflow-y: hidden;
    }
    .crane-img {
        background-size: 120%;
        background-image: url(../../assets/mar2022/cranebluemar.png);
        right: 10%;
        top: -10%;
        width: 200px;
    }
    .hydrangea-img {
        background-size: 100%;
        background-image: url(../../assets/mar2022/hydrangeamar.png);
        left: 10%;
        bottom: -10%;
        width: 150px;
    }
    .col {
        .row {
            .week-header {
                color: white;
                font-family: "Josefin Slab", serif;
                font-size: 1.5rem;
            }

            .week-fig {
                width: 65%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -1em;
                    top: 15%;
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    background-color: #a6c1dc;
                }
            }
            .week-overlap {
                border: #6566aa solid 1.5px;
                .to-do-lines-container {
                    height: 80%;
                    input {
                        box-shadow: 0.1em 0.1em 0.4em $border-shadow-mar-4;
                    }
                    .cbx {
                        &:hover {
                            .tick-box {
                                border-color: $focus-border-mar-4;
                            }

                            .input-field {
                                border-color: $focus-border-mar-4;
                            }
                        }
                        input {
                            border-color: $input-border-default-mar-4;
                            box-shadow: $border-shadow-mar-4;
                        }
                        .tick-box {
                            background-color: $tick-box-background-mar-4;
                            border: 0.1em solid $input-border-default-mar-4;
                            &:before {
                                background: $blink-color-mar-4;
                            }
                        }
                        .input-box {
                            &::after {
                                background: $strike-line-mar-4;
                            }
                        }
                        .input-field {
                            background-color: $input-box-background-mar-4;
                            border: 1.5px solid $input-border-default-mar-4;
                            color: $font-active-mar-4;
                        }
                    }
                    .tick-box {
                        &:checked + .cbx {
                            .tick-box {
                                border-color: $tick-border-checked-mar-4;
                                background: $tick-box-checked-background-mar-4;
                            }
                            .input-field {
                                border-color: $tick-border-checked-mar-4;
                                color: $font-disabled-mar-4;
                                background-color: $tick-box-checked-background-mar-4;
                            }
                        }
                    }
                }
            }
        }
    }
}
.march-week5 {
    align-items: start;
    .row {
        height: 45%;
    }
    .violet-img {
        background-image: url(../../assets/mar2022/week5decor.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bluerose-img {
        background-image: url(../../assets/mar2022/bluerose.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .week-box {
        width: 100%;
        height: auto;
        border-image-source: url(../../assets/img/friday-vector.svg);
        border-image-slice: 13 27 27 27;
        border-image-width: 1em 2em 2em 2em;
        border-image-outset: 0em 0em 0em 0em;
        border-image-repeat: stretch stretch;

        .week-overlap {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            padding: 1.5em;
            position: relative;
            .week-fig {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                .week-shape {
                    width: auto;
                }
            }

            .to-do-lines-container {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: 100%;
                input {
                    box-shadow: 0.1em 0.1em 0.4em $border-shadow-mar-5;
                }
                .cbx {
                    &:hover {
                        .tick-box {
                            border-color: $focus-border-mar-5;
                        }

                        .input-field {
                            border-color: $focus-border-mar-5;
                        }
                    }
                    input {
                        border-color: $input-border-default-mar-5;
                        box-shadow: $border-shadow-mar-5;
                    }
                    .tick-box {
                        background-color: $tick-box-background-mar-5;
                        border: 0.1em solid $input-border-default-mar-5;
                        &:before {
                            background: $blink-color-mar-5;
                        }
                    }
                    .input-box {
                        &::after {
                            background: $strike-line-mar-5;
                        }
                    }
                    .input-field {
                        background-color: $input-box-background-mar-5;
                        border: 1.5px solid $input-border-default-mar-5;
                        color: $font-active-mar-5;
                    }
                }
                .tick-box {
                    &:checked + .cbx {
                        .tick-box {
                            border-color: $tick-border-checked-mar-5;
                            background: $tick-box-checked-background-mar-5;
                        }
                        .input-field {
                            border-color: $tick-border-checked-mar-5;
                            color: $font-disabled-mar-5;
                            background-color: $tick-box-checked-background-mar-5;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1200px) {
        .row {
            & > .d-flex {
                width: auto;
            }
            & > .bluerose-img,
            & > .violet-img {
                position: absolute;
                min-width: 200px;
                min-height: 200px;
            }
            & > .violet-img {
                right: 0;
                bottom: 0;
            }
            & > .bluerose-img {
                right: 0;
            }
        }
    }
    @media (max-width: 768px) {
    }

    @media (max-width: 480px) {
    }
}
