.march-index {
    background-image: url("../../assets/mar2022/2022MarDigitalBujo.png");
}
.march-week1 {
    background-image: url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png),
        url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position:
        left -20% top -35%,
        right -30% bottom -50%;
    align-items: center;
    .row {
        padding: 0;
        & > * {
            padding: 0.2em;
        }
    }

    .week-overlap {
        .square {
            height: 4rem;
            width: 4rem;
            border: rgb(83, 110, 149) solid 2px;
            font-size: 2rem;
            font-family: "Josefin Slab";
            color: rgba(64, 105, 143, 0.8);
            background-color: rgba(#fff, 0.7);
            box-shadow:
                rgb(71, 83, 126) 0px 10px 10px 0px,
                rgba(78, 78, 164, 0.995) 0px 10px 10px 2px;
        }
    }
}
.march-week2 {
    .flower-bg {
        background-image: url(../../assets/mar2022/flowerrepeated.jpeg);
    }
    .flower-bg-re {
        background-image: url(../../assets/mar2022/flowerrepeated.jpeg);
        background-position: bottom left;
    }
    .week-fig {
        width: 55%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 15%;
            left: 0;
            width: 180%;
            transform: translate(-25%, 0);
            height: 2px;
            background-color: #b2c0dd;
        }
    }
}
.march-week3 {
    background-image: url(../../assets/mar2022/backgroundbypurplelavenderf.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    .row {
        padding: 0;
        & > * {
            padding: 0.5em;
        }
        margin-right: 0;
    }
    .outer-row {
        .inner-row {
            .day-box {
                .week-header {
                    color: white;
                    font-family: "Josefin Slab", serif;
                    font-size: 1.5rem;
                }
                &:nth-child(even) .week-header {
                    background-color: #ac87c5;
                }
                &:nth-child(odd) .week-header {
                    background-color: #756ab6;
                }
            }
            .week-overlap {
                border: rgb(108, 124, 187) solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px rgb(164, 160, 187);
            }
        }
    }
}
.march-week4 {
    .row {
        padding: 0;
        & > * {
            padding: 0.5em;
        }
        margin-right: 0;
    }
    .col-lg-2,
    .col-lg-6 {
        padding: 0;
    }
    .crane-img,
    .hydrangea-img {
        background-position: left center;
        background-repeat: no-repeat;
        overflow-x: visible;
        overflow-y: hidden;
    }
    .crane-img {
        background-size: 120%;
        background-image: url(../../assets/mar2022/cranebluemar.png);
        right: 10%;
        top: -10%;
        width: 200px;
    }
    .hydrangea-img {
        background-size: 100%;
        background-image: url(../../assets/mar2022/hydrangeamar.png);
        left: 10%;
        bottom: -10%;
        width: 150px;
    }
    .col {
        .row {
            .week-header {
                color: white;
                font-family: "Josefin Slab", serif;
                font-size: 1.5rem;
            }

            .week-fig {
                width: 65%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -1em;
                    top: 15%;
                    width: 1em;
                    height: 1em;
                    border-radius: 50%;
                    background-color: #a6c1dc;
                }
            }
            .week-overlap {
                border: #6566aa solid 1.5px;
            }
        }
    }
}
.march-week5 {
    align-items: start;
    .row {
        height: 45%;
    }
    .violet-img {
        background-image: url(../../assets/mar2022/week5decor.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bluerose-img {
        background-image: url(../../assets/mar2022/bluerose.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .week-box {
        width: 100%;
        height: auto;
        border-image-source: url(../../assets/img/friday-vector.svg);
        border-image-slice: 13 27 27 27;
        border-image-width: 1em 2em 2em 2em;
        border-image-outset: 0em 0em 0em 0em;
        border-image-repeat: stretch stretch;

        .week-overlap {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
            padding: 1.5em;
            position: relative;
            .week-fig {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                .week-shape {
                    width: auto;
                }
            }

            .to-do-lines-container {
                display: grid;
                grid-template-rows: repeat(5, 1fr);
                grid-template-columns: 100%;
                gap: 0.5rem;
                .todo-wrapper {
                    .tick-box {
                        width: var(--sep-friday-todolines-height);
                        background-color: greenyellow;
                    }
                }
            }
        }
    }
}
