.march-index {
    background-image: url("../../assets/mar2022/2022MarDigitalBujo.png");
}
.march-week1 {
    background-image: url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png),
        url(../../assets/mar2022/NavyBlueWhiteFlowersWatercolorClipArtBouquet.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position:
        left -20% top -35%,
        right -30% bottom -50%;
    align-items: center;
    .row {
        padding: 0;
        & > * {
            padding: 0.2em;
        }
    }

    .week-overlap {
        .square {
            height: 4rem;
            width: 4rem;
            border: rgb(83, 110, 149) solid 2px;
            font-size: 2rem;
            font-family: "Josefin Slab";
            color: rgba(64, 105, 143, 0.8);
            background-color: rgba(#fff, 0.7);
            box-shadow:
                rgb(71, 83, 126) 0px 10px 10px 0px,
                rgba(78, 78, 164, 0.995) 0px 10px 10px 2px;
        }
    }
}
.march-week3 {
    background-image: url(../../assets/mar2022/backgroundbypurplelavenderf.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    .row {
        padding: 0;
        & > * {
            padding: 0.5em;
        }
        margin-right: 0;
    }
    .outer-row {
        .inner-row {
            .day-box {
                .week-header {
                    color: white;
                    font-family: "Josefin Slab", serif;
                    font-size: 1.5rem;
                }
                &:nth-child(even) .week-header {
                    background-color: #ac87c5;
                }
                &:nth-child(odd) .week-header {
                    background-color: #756ab6;
                }
            }
            .week-overlap {
                border: rgb(108, 124, 187) solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px rgb(164, 160, 187);
            }
        }
    }
}
