.todo {
	position: relative;
	width: 124px;
	height: 24px;
}
input {
	appearance: none;
	border: 0.1em solid;
	border-radius: 0.4em;
	box-shadow: 0.1em 0.1em 0.4em #00000040;
	padding: 0.25em 0.4em;
}

.todo .tick-box {
	display: grid;
	place-content: center;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	background-color: #bfdeef;
	border-color: #47565f;
	outline: none;
}

.todo .tick-box:checked {
	border: 0;
	background-color: #a7cbdf;
}
.todo .check-tick {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5em;
	height: 1.5em;
	z-index: 1;
}

.todo .input-field {
	position: absolute;
	top: 0;
	left: 32px;
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 1.2em;
	overflow: hidden;
	background-color: #d9ecf7;
	font-size: 1.2em;
	font-family: monospace;
	outline: none;
}

.todo .input-field.checked {
	background-color: #8096a2;
	border-color: #47565f;
	text-decoration: line-through;
}
.todo .default {
	position: relative;
	color: #0000009e;
	font-family: "Inter", Helvetica;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: normal;
	margin-right: -1px;
	width: fit-content;
}
