.september-week-mobile {
	margin: 5em auto;
	/* border: 0.1em solid green; */
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	display: flex;
	flex-direction: column;
	place-content: center;
	align-items: center;
	position: relative;
	background-image: url(../../assets/img/blue-circle-deep.png),
		url(../../assets/img/blue-circle.png),
		url(../../assets/img/star-vector-1.svg),
		url(../../assets/img/star-vector-2.svg);
	background-size: 400px, 400px, 61px, 62px;
	background-repeat: no-repeat;
	background-position: top -150px left -150px, bottom -150px right -150px,
		top 40% right 30%, bottom 40% left 20%;
	height: auto;
	width: 90%;
	min-width: 342px;
	max-width: 1694px;
	/* padding-bottom: 5em; */
}
/* .sidebar {
	position: absolute;
	left: 0;
} */
.september-week-mobile .rabbit {
	width: 10vw;
	position: absolute;
	top: 1%;
	right: 2%;
	z-index: -1;
}
.september-week-mobile .WeekContainer {
	padding: 10rem 0;
	max-width: 1210px;
}
.september-week-mobile .WeekContainer .week-box {
	min-width: 274px;
	max-width: 280px;
}

.september-week-mobile .rabbitmother {
	width: 10vw;
	position: absolute;
	bottom: 1%;
	left: 2%;
	z-index: -1;
}
.september-week-mobile .septemberlabel {
	position: absolute;
	bottom: 15rem;
	left: 2%;
	z-index: -2;
}
