header {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 50%;
        width: 100%;
        top: 25%;
        z-index: -1;
        border-radius: 20px;
        background-color: rgba(100, 151, 190, 0.726);
    }
}
