.may-index {
    background-image: url(../../assets/may2021/2021MayDigitalBujo.png);
}
.may-week1 {
    .flower-bg {
        background-image: url(../../assets/may2021/VanGoghGreenWheatFields.jpg);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flower-bg-re {
        background-image: url(../../assets/may2021/VanGoghGreenWheatFields.jpg);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .h-100 > .row {
        height: calc(100% / 3);
    }
    .week-fig {
        width: 55%;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 15%;
            left: 0;
            width: 180%;
            transform: translate(-25%, 0);
            height: 2px;
            background-color: #718b44;
        }
    }
}
.may-week2 {
    background: repeating-linear-gradient(-45deg, #abc29c, #abc29c 10px, #fff 50px, #fff 150px);
    .week-overlap {
        border: #718b44 solid 2px;

        .week-header {
            position: relative;
            span.d-flex {
                position: absolute;
                font-family: "Parisienne", cursive;
                font-size: 1.5em;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                width: 2rem;
                height: 2rem;
                text-align: center;
                border-radius: 50%;
                background-color: #99bc85;
            }
        }
    }
    .col.col-lg-3 {
        .row {
            height: 20%;
            &:last-child {
                height: 40%;
            }
            [class^="img-"] {
                width: 80%;
                border: #718b44 solid 2px;
            }
        }
    }

    .img-1 {
        background-image: url(../../assets/may2021/VanGoghGreenWheatFields.jpg);
    }

    .img-2 {
        background-image: url(../../assets/may2021/VanGoghWheatVintagePrint.jpg);
        background-position: center center;
    }

    .img-3 {
        background-image: url(../../assets/may2021/VincentvanGogLeSaintesMariesdeaMer1888.jpg);
    }

    .img-4 {
        background-image: url(../../assets/may2021/WheatFieldwithCypressesCrossStithPattern.jpg);
    }
}
.may-week3 {
    height: 100%;
    .row {
        height: 100%;
        .col {
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: #64766b solid 2px;
            position: relative;
            .doughnut {
                position: absolute;

                &.tue-dn {
                    top: 0;
                    left: 20%;
                    border: 10px solid rgba(10, 160, 85, 0.76);
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                }
                &.wed-dn {
                    bottom: 32%;
                    right: 20%;
                    border: 5px solid rgba(56, 103, 79, 0.38);
                    border-radius: 100px;
                    height: 20px;
                    width: 20px;
                }
                &.fri-dn {
                    bottom: 20%;
                    left: 20%;
                    border: 5px solid rgba(26, 144, 85, 0.38);
                    border-radius: 100px;
                    height: 20px;
                    width: 20px;
                }
            }
            &:nth-child(6) .week-fig::after {
                content: "";
                background: repeating-linear-gradient(-45deg, #abc29c, #abc29c 4px, #fff 5px, #fff 5px);
                width: 20px;
                height: 70px;
                top: -10%;
                left: 2%;
                z-index: -1;
                position: absolute;
            }
            .img-header {
                height: 100px;
                width: 100%;
                position: relative;
                span.d-flex {
                    position: absolute;
                    font-family: "Parisienne", cursive;
                    font-size: 1.2em;
                    left: 50%;
                    width: 2rem;
                    height: 2rem;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    border-radius: 50%;
                    background-color: #64766bcc;
                    color: white;
                }
                &:nth-child(even) {
                    margin-top: 0.2em;
                    span.d-flex {
                        top: -5%;
                    }
                }
                &:nth-child(odd) {
                    margin-bottom: 0.2em;
                    span.d-flex {
                        bottom: -40%;
                    }
                }

                &.header-img-mon {
                    background-image: url(../../assets/may2021/VanGoghGreenWheatFields.jpg);
                }
                &.header-img-tue {
                    background-image: url(../../assets/may2021/InterceptedGravitation.jpg);
                    background-position: center center;
                }
                &.header-img-wed {
                    background-image: url(../../assets/may2021/VincentPaintingEtsy.jpg);
                }
                &.header-img-thu {
                    background-image: url(../../assets/may2021/VincentvanGogLeSaintesMariesdeaMer1888.jpg);
                }
                &.header-img-fri {
                    background-image: url(../../assets/may2021/WheatFieldwithCypressesCrossStithPattern.jpg);
                }
                &.header-img-sat {
                    background-image: url(../../assets/may2021/lake-clond.jpg);
                }
                &.header-img-sun {
                    background-image: url(../../assets/may2021/beautifullake.jpeg);
                }
            }
            .week-overlap {
                .week-fig {
                    height: 25%;
                    position: relative;
                    z-index: 1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.may-week4 {
    .blob {
        position: absolute;
    }
    .blob-1 {
        border-radius: 30% 70% 59% 41% / 35% 22% 78% 65%;
        background-color: #718b44;
    }
}
