@keyframes fade-in {
    from {
        scale: 0.8;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes scrolling {
    // for what can do
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}
