.week-container-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1200px;
    max-width: 2000px;
    .week-box-container {
        position: relative;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px,
            1px 0px 0px 2em #b3a492;
        border-radius: 0.5em;
        min-height: 700px;
        .sidebar {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .rightside {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        .week-overlap {
            .to-do-lines-container {
                height: 80%;
                .cbx {
                    &:hover {
                        .tick-box {
                            border-color: $focus-border-apr2022;
                        }

                        .input-field {
                            border-color: $focus-border-apr2022;
                        }
                    }
                    input {
                        border-color: $input-border-default-apr2022;
                        box-shadow: $border-shadow-apr2022;
                    }
                    .tick-box {
                        background-color: $tick-box-background-apr2022;
                        border: 0.1em solid $input-border-default-apr2022;
                        &:before {
                            background: $blink-color-apr2022;
                        }
                    }
                    .input-box {
                        &::after {
                            background: $strike-line-apr2022;
                        }
                    }
                    .input-field {
                        background-color: $input-box-background-apr2022;
                    }
                }
            }
        }
    }
}
