.right-pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .pagination-overlap {
        background: transparent;
        box-shadow: $sidebar-thickness 0 0 transparent;
        transition: all 0.5s;
        height: 100%;
        overflow: hidden;

        ul {
            padding-left: 0;

            li {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                width: $sidebar-width;
                background-color: $sidebar-color;
                transition: all 0.5s;
                writing-mode: vertical-rl;
                &.active {
                    background-color: #bbe9ff;
                }
                &.active,
                &:hover,
                &:focus {
                    width: $sidebar-width-hover;
                    padding-left: 0.5em;
                }
                a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: #fff;
                }
            }
        }
    }
}
// Uncomment the following styles as needed
// .pagination-overlap .month-cap {
//     height: $sidebar-letter-height);
//     line-height: $sidebar-letter-height);
// }

// .pagination-overlap .month-name {
//     height: $sidebar-letter-height);
//     line-height: $sidebar-letter-height);
// }
