@import url("https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600&display=swap");

:root {
    --sidebar-color: #c5dafb;
    --sidebar-thickness: 5px;
    --sidebar-padding: 5px;
    --sidebar-width: 2rem;
    --sidebar-width-hover: 3.5rem;
    --sidebar-curve: 1.875rem;
    --sidebar-curve-mask: 0.938rem;
    --sidebar-letter-height: 3.75rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .pagination-overlap {
        background: transparent;
        box-shadow: var(--sidebar-thickness) 0 0 transparent;
        transition: all 0.5s;
        height: 100%;
        overflow: hidden;

        ul {
            padding-left: var(--sidebar-padding);
            padding-top: var(--sidebar-padding);
            padding-bottom: var(--sidebar-padding);

            li {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                padding-left: 1em;
                padding-right: 0.5em;
                width: var(--sidebar-width);
                transition: all 0.5s;

                &:hover,
                &:focus {
                    width: var(--sidebar-width-hover);
                    padding-left: 0.5em;
                }
                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
            .jan {
                background-color: #bce4f7;
                &.active {
                    background-color: #8ed4f5;
                }
            }
            .feb {
                background-color: #dee7ee;
                &.active {
                    background-color: #d3e8f8;
                }
            }
            .mar {
                background-color: #b3b4ee;
                &.active {
                    background-color: #999ad7;
                }
            }
            .apr {
                background-color: rgb(179, 206, 178);
                &.active {
                    background-color: rgb(158, 175, 157);
                }
            }
            .may {
                background-color: #cce0bf;
                &.active {
                    background-color: #b6d7a0;
                }
            }
            .jun {
                background-color: #c7cff9;
                &.active {
                    background-color: #b2bced;
                }
            }
            .jul {
                background-color: #d1d4ea;
                &.active {
                    background-color: #b7bdeb;
                }
            }
            .aug {
                background-color: #96d1f3;
                &.active {
                    background-color: #b5dcfb;
                }
            }
            .sep {
                background-color: #80c1e7;
                &.active {
                    background-color: #c1e2fc;
                }
            }
            .oct {
                background-color: #c8e7ff;
                &.active {
                    background-color: #d3e8f8;
                }
            }
            .nov {
                background-color: #dfded7;
                &.active {
                    background-color: #eeebd5;
                }
            }
            .dec {
                background-color: #f6c286;
                &.active {
                    background-color: #ceb497;
                }
            }
        }
    }
}
// Uncomment the following styles as needed
// .pagination-overlap .month-cap {
//     height: var(--sidebar-letter-height);
//     line-height: var(--sidebar-letter-height);
// }

// .pagination-overlap .month-name {
//     height: var(--sidebar-letter-height);
//     line-height: var(--sidebar-letter-height);
// }
