// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #f5a637 !default; // NEW
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800
) !default;

$primary: $orange !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-200 !default;
$dark: $gray-900 !default;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false !default;
$enable-rfs: false !default;
$enable-validation-icons: false !default;
$enable-negative-margins: true !default;

// Prefix for :root CSS variables

$variable-prefix: bs- !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: calc($spacer / 4),
    // 4px
    2: calc($spacer / 2),
    // 8px
    3: $spacer,
    // 16px
    4: $spacer * 1.5,
    // 24px
    5: $spacer * 2,
    // 32px
    6: $spacer * 2.5,
    // 40px
    7: $spacer * 3,
    // 48px
    8: $spacer * 4.5,
    // 72px
    9: $spacer * 6,
    // 96px
    10: $spacer * 7.5,
    // 120px
    11: $spacer * 9,
    // 144px
    12: $spacer * 10.5,
    // 168px
    13: $spacer * 12,
    // 192px
    14: $spacer * 13.5,
    // 216px
    15: $spacer * 15,
    // 240px
) !default;

// Position
//
// Define the edge positioning anchors of the position utilities.

$position-values: (
    0: 0,
    50: 50%,
    100: 100%,
    auto: auto
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-600 !default;

// Links
//
// Style anchor elements.

$link-color: $primary !default;
$link-hover-color: $link-color !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2rem !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-width: 1px !default;
$border-color: $gray-200 !default;

$border-radius: 0 !default;
$border-radius-sm: $border-radius !default;
$border-radius-lg: $border-radius !default;

$caret-spacing: calc($spacer / 2) !default;

$transition-base: all 0.1s ease-in-out !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Lato", sans-serif !default;
$font-family-serif: "Playfair Display", serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default; // 16px
$font-size-xs: 0.75rem !default; // 12px
$font-size-sm: 0.875rem !default; // 14px
$font-size-lg: 1.125rem !default; // 18px

$line-height-base: 1.7 !default;
$line-height-lg: 1.5 !default;

$h1-font-size: 1.9375rem !default;
$h2-font-size: 1.75rem !default;
$h3-font-size: 1.5625rem !default;
$h4-font-size: 1.375rem !default;
$h5-font-size: 1.1875rem !default;
$h6-font-size: 1rem !default;

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    xs: $font-size-xs,
    sm: $font-size-sm,
    lg: $font-size-lg
) !default;

$headings-margin-bottom: 0.8em !default;
$headings-font-family: $font-family-serif !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.4 !default;
$headings-color: $black !default;

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
) !default;

$display-font-weight: 700 !default;
$display-line-height: 1 !default;

$text-muted: $gray-500 !default;

$blockquote-font-size: $font-size-lg !default;
$blockquote-footer-color: $text-muted !default;
$blockquote-footer-font-size: $font-size-sm !default;

$hr-color: $border-color !default;
$hr-opacity: 1 !default;

// Navs

$nav-link-color: $body-color !default;
$nav-link-hover-color: $black !default;
$nav-link-active-color: $black !default;

// Navbar

$navbar-padding-y: 0.5625rem !default;

$navbar-nav-link-padding-x: 1rem !default;

$navbar-brand-font-size: 2rem !default;
$navbar-brand-margin-end: 1rem !default;

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $primary !default;
$navbar-dark-active-color: $primary !default;
$navbar-dark-toggler-border-color: transparent !default;

$navbar-light-color: $headings-color !default;
$navbar-light-hover-color: $primary !default;
$navbar-light-active-color: $primary !default;
$navbar-light-toggler-border-color: transparent !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width: 12rem !default;
$dropdown-padding-y: $spacer * 1.5 !default;
$dropdown-border-color: $border-color !default;

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: $black !default;
$dropdown-link-hover-bg: transparent !default;

$dropdown-link-active-color: $black !default;
$dropdown-link-active-bg: transparent !default;

$dropdown-item-padding-y: $spacer * 0.25 !default;
$dropdown-item-padding-x: $spacer * 1.5 !default;

$dropdown-header-color: $black !default;
$dropdown-header-padding: $spacer * 0.25 $spacer * 1.5 $spacer * 0.5 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer !default;
$input-btn-padding-x: $spacer * 2 !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: 1.25 !default;

$input-btn-focus-width: 0 !default;

$input-btn-padding-y-sm: 0.75rem !default;
$input-btn-padding-x-sm: 1.5rem !default;
$input-btn-line-height-sm: $input-btn-line-height !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-line-height: calc(#{$input-btn-font-size} * #{$input-btn-line-height});

$btn-transition: color 0.1s ease-in-out !default;

// Forms

$input-padding-x: $spacer !default;

$input-color: $black !default;
$input-border-color: $border-color !default;
$input-box-shadow: none !default;

$input-focus-border-color: $primary !default;

$input-placeholder-color: $body-color !default;

// Cards

$card-spacer-y: $spacer * 1.5 !default;
$card-border-color: $border-color !default;

// Toasts

$toast-padding-y: $spacer !default;
$toast-padding-x: $spacer * 2 !default;
$toast-font-size: $font-size-sm !default;
$toast-color: $black !default;
$toast-background-color: $white !default;
$toast-border-width: $border-width * 3 !default;
$toast-border-color: $primary !default;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 1.5rem !default;
$alert-border-radius: $border-radius !default;

// Utilities

$utilities: (
    "max-width": (
        property: max-width,
        class: mw,
        responsive: true,
        values: (
            100: 100%,
            120: 120%
        )
    ),
    "background-color": (
        property: background-color,
        class: bg,
        values:
            map-merge(
                $theme-colors,
                (
                    "body": $body-bg,
                    "white": $white,
                    "transparent": transparent,
                    "black": $black,
                    "black-50": rgba($black, 0.5),
                    "black-75": rgba($black, 0.75)
                )
            )
    ),
    "color": (
        property: color,
        class: text,
        state: hover,
        values:
            map-merge(
                $theme-colors,
                (
                    "white": $white,
                    "white-50": rgba($white, 0.5),
                    "white-75": rgba($white, 0.75),
                    "black": $black,
                    "black-50": rgba($black, 0.5),
                    "body": $body-color,
                    "muted": $text-muted,
                    "reset": inherit
                )
            )
    ),
    "font-family": (
        property: font-family,
        class: font,
        values: (
            monospace: var(--#{$variable-prefix}font-monospace),
            sans-serif: $font-family-sans-serif,
            serif: $font-family-serif
        )
    ),
    "object-fit": (
        property: object-fit,
        class: object-fit,
        values: (
            fill: fill,
            contain: contain,
            cover: cover,
            none: none,
            scale-down: scale-down
        )
    )
);

// TO DO LINES
$font-active-sep2023: #83caf0;
$font-disabled-sep2023: #d8d8d8;
$font-family_1-sep2023: monospace;
$strike-line-sep2023: #e3e3e3;
$tick-box-background-sep2023: #bfdeef;
$input-box-background-sep2023: #d9ecf7;
$tick-box-checked-background-sep2023: #9fb9c7;
$input-border-default-sep2023: #69696a;
$focus-border-sep2023: rgb(198, 226, 241);
$blink-color-sep2023: rgb(170, 225, 255);
$tick-border-checked-sep2023: #69696a;
$border-shadow-sep2023: #00000040;
$tick-border-checked-sep2023: #b4c8d3;
$input-border-focus-sep2023: #b9b8c3;

$font-active-apr2022: #537a5a;
$font-disabled-apr2022: #d8d8d8;
$font-family_1-apr2022: monospace;
$strike-line-apr2022: #e3e3e3;
$tick-box-background-apr2022: #799d76;
$tick-box-checked-background-apr2022: #64725e;
$input-border-default-apr2022: #5f916d;
$input-border-focus-apr2022: #b9b8c3;
$input-box-background-apr2022: #779d80;
$focus-border-apr2022: rgb(89, 123, 97);
$blink-color-apr2022: rgb(118, 147, 120);
$tick-border-checked-apr2022: #69696a;
$border-shadow-apr2022: #00000040;

$font-active-jan: #535d7aab;
$font-disabled-jan: #d8d8d8;
$font-family_1-jan: monospace;
$strike-line-jan: #e3e3e3;
$tick-box-background-jan: #767f9d95;
$tick-box-checked-background-jan: #5e61728c;
$input-border-default-jan: #63649588;
$input-border-focus-jan: #b9b8c3;
$input-box-background-jan: #77789db3;
$focus-border-jan: rgba(91, 89, 123, 0.373);
$blink-color-jan: rgb(122, 118, 147);
$tick-border-checked-jan: #69696ae1;
$border-shadow-jan: #00000040;

$font-active-jan-2: #36538696;
$font-disabled-jan-2: #d8d8d8;
$font-family_1-jan-2: monospace;
$strike-line-jan-2: #e3e3e3;
$tick-box-background-jan-2: #3653869f;
$tick-box-checked-background-jan-2: #5e61728c;
$input-border-default-jan-2: #636495d3;
$input-border-focus-jan-2: #b9b8c3;
$input-box-background-jan-2: #365386a2;
$focus-border-jan-2: rgba(91, 89, 123, 0.373);
$blink-color-jan-2: rgba(73, 89, 134, 0.706);
$tick-border-checked-jan-2: #69696ae1;
$border-shadow-jan-2: #00000040;

$font-active-mar-1: #535d7aab;
$font-disabled-mar-1: #d8d8d8;
$font-family_1-mar-1: monospace;
$strike-line-mar-1: #e3e3e3;
$tick-box-background-mar-1: #767f9d95;
$tick-box-checked-background-mar-1: #5e61728c;
$input-border-default-mar-1: #63649588;
$input-border-focus-mar-1: #b9b8c3;
$input-box-background-mar-1: #77789db3;
$focus-border-mar-1: rgba(91, 89, 123, 0.373);
$blink-color-mar-1: rgb(122, 118, 147);
$tick-border-checked-mar-1: #69696ae1;
$border-shadow-mar-1: #00000040;

$font-active-mar-2: #535d7aab;
$font-disabled-mar-2: #d8d8d8;
$font-family_1-mar-2: monospace;
$strike-line-mar-2: #e3e3e3;
$tick-box-background-mar-2: #7fa1c3a1;
$tick-box-checked-background-mar-2: #5e61728c;
$input-border-default-mar-2: #63649588;
$input-border-focus-mar-2: #b9b8c3;
$input-box-background-mar-2: #6482ad9b;
$focus-border-mar-2: rgba(91, 89, 123, 0.373);
$blink-color-mar-2: rgb(122, 118, 147);
$tick-border-checked-mar-2: #69696ae1;
$border-shadow-mar-2: #00000040;

$font-active-mar-3: #535d7aab;
$font-disabled-mar-3: #d8d8d8;
$font-family_1-mar-3: monospace;
$strike-line-mar-3: #e3e3e3;
$tick-box-background-mar-3: #694f8ebd;
$tick-box-checked-background-mar-3: #615275;
$input-border-default-mar-3: #63649588;
$input-border-focus-mar-3: #b9b8c3;
$input-box-background-mar-3: #6482ad9b;
$focus-border-mar-3: rgba(91, 89, 123, 0.373);
$blink-color-mar-3: rgb(122, 118, 147);
$tick-border-checked-mar-3: #69696ae1;
$border-shadow-mar-3: #00000040;

$font-active-mar-4: #535d7aab;
$font-disabled-mar-4: #d8d8d8;
$font-family_1-mar-4: monospace;
$strike-line-mar-4: #e3e3e3;
$tick-box-background-mar-4: #5c87c4a6;
$tick-box-checked-background-mar-4: #8480aa;
$input-border-default-mar-4: #63649588;
$input-border-focus-mar-4: #b9b8c3;
$input-box-background-mar-4: #6482ad9b;
$focus-border-mar-4: rgba(91, 89, 123, 0.373);
$blink-color-mar-4: rgb(122, 118, 147);
$tick-border-checked-mar-4: #69696ae1;
$border-shadow-mar-4: #00000040;

$font-active-mar-5: #535d7aab;
$font-disabled-mar-5: #d8d8d8;
$font-family_1-mar-5: monospace;
$strike-line-mar-5: #e3e3e3;
$tick-box-background-mar-5: #a2b3cc;
$tick-box-checked-background-mar-5: #8480aa;
$input-border-default-mar-5: #63649588;
$input-border-focus-mar-5: #b9b8c3;
$input-box-background-mar-5: #6482ad9b;
$focus-border-mar-5: rgba(91, 89, 123, 0.373);
$blink-color-mar-5: rgb(122, 118, 147);
$tick-border-checked-mar-5: #69696ae1;
$border-shadow-mar-5: #00000040;

$font-active-may: #535d7aab;
$font-disabled-may: #d8d8d8;
$font-family_1-may: monospace;
$strike-line-may: #e3e3e3;
$tick-box-background-may: #a1c575;
$tick-box-checked-background-may: #657550;
$input-border-default-may: #6a7f50;
$input-border-focus-may: #799853c3;
$input-box-background-may: #a2ca71;
$focus-border-may: #879179;
$blink-color-may: rgb(122, 118, 147);
$tick-border-checked-may: #63774a;
$border-shadow-may: #00000040;

$font-active-may-3: #535d7aab;
$font-disabled-may-3: #d8d8d8;
$font-family_1-may-3: monospace;
$strike-line-may-3: #e3e3e3;
$tick-box-background-may-3: #7fa1c3;
$tick-box-checked-background-may-3: #4c6d8e;
$input-border-default-may-3: #63649588;
$input-border-focus-may-3: #b9b8c3;
$input-box-background-may-3: #6482adcf;
$focus-border-may-3: #6c839a;
$blink-color-may-3: rgb(122, 118, 147);
$tick-border-checked-may-3: #66717c;
$border-shadow-may-3: #00000040;

$font-active-jun: #f1eff1;
$font-disabled-jun: #d8d8d8;
$font-family_1-jun: monospace;
$strike-line-jun: #e3e3e3;
$tick-box-background-jun: #987d9a;
$tick-box-checked-background-jun: #7c717d;
$input-border-default-jun: #63649588;
$input-border-focus-jun: #b9b8c3;
$input-box-background-jun: #987d9ac6;
$focus-border-jun: #879179;
$blink-color-jun: rgb(122, 118, 147);
$tick-border-checked-jun: #63774a;
$border-shadow-jun: #00000040;

//Sidebar
$sidebar-color: #c5dafb;
$sidebar-thickness: 5px;
$sidebar-padding: 5px;
$sidebar-width: 2rem;
$sidebar-width-hover: 3.5rem;
$sidebar-curve: 1.875rem;
$sidebar-curve-mask: 0.938rem;
$sidebar-letter-height: 3.75rem;
