.validation-message-wrapper {
	width: 100%;
	height: auto;
	place-content: center;
	display: flex;
	justify-content: space-between;
	gap: 6px;
}
.validation-message-wrapper .bi-check2-circle {
	transition: all 0.5s;
	color: aquamarine;
}
.validation-message-wrapper .bi-circle {
	transition: all 0.5s;
	color: rgb(255, 103, 103);
}

.validation-message-wrapper.not-validated .error-message {
	transition: all 0.5s;
	color: rgb(255, 103, 103);
}
.validation-message-wrapper.validated .error-message {
	transition: all 0.5s;
	color: aquamarine;
	font-size: 10px;
}
