.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 0 auto;
	width: 100dvw;
	max-width: 100dvw;
	max-height: 100dvh;
}

.icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
	width: 100%;
}

.icon {
	margin: 2px;
	padding: 6px;
	word-wrap: break-word;
	width: 100%;
	box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.icon.selected,
.symptom-detail.clicked {
	font-weight: bold;
	color: #c7b7a3;
	border-inline-start: 10px #f6f5f2 solid;
}
