.icon-container {
	margin: auto;
}

.icon-item {
	position: relative;
	padding: 10px;
	margin: 2px;
	background-color: rgba(137, 43, 226, 0.358);
}

.icon {
	font-size: 2rem;
	cursor: pointer;
}

.sub-icons {
	background-color: antiquewhite;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category-container,
.symptom-container,
.detail-container {
	display: flex;
	gap: 10px; /* adjust gap as needed */
}

.category-item,
.symptom-item,
.symptom-detail {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px; /* adjust margin as needed */
}

.symptom-label,
.symptom-detail-label {
	/* Add your desired styles for the labels here */
}
