.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: 0 auto;
	width: 100vw;
	max-width: 100vw;
}

.icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
	width: 100%;
}

.icon {
	margin: 2px;
	padding: 10px;
	word-wrap: break-word;
	width: 100%;
	box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.icon.selected,
.symptom-detail.clicked {
	font-weight: bold;
	color: white; /* Change text color to white for visibility on dark backgrounds */
}
