@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,500;1,200;1,300;1,500&family=Caveat&family=Indie+Flower&family=Josefin+Slab:wght@300;400&family=Kalam:wght@300;400&family=Patrick+Hand&family=Shadows+Into+Light&family=Sono:wght@300;400;500;600&display=swap");
.april-week-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1200px;
    max-width: 2000px;
    .week-box-container {
        position: relative;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px,
            1px 0px 0px 2em #b3a492;
        border-radius: 0.5em;
        min-height: 700px;
        background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0.1) 30%, rgba(#fff, 0)),
            linear-gradient(to right bottom, rgba(#fff, 1), rgba(#fff, 1) 15%, rgba(#fff, 0) 30%, rgba(#fff, 0) 100%),
            url(../../assets/april2022/aprilweek1.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40%;
        .sidebar {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .rightside {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .row {
            padding: 0;
            & > * {
                padding: 0.5em;
            }
            margin-right: 0;
        }
        .outer-row {
            .inner-row {
                .day-box {
                    .week-header {
                        color: white;
                        font-family: "Josefin Slab", serif;
                        font-size: 1.5rem;
                    }
                    &:nth-child(even) .week-header {
                        background-color: rgb(56, 93, 67);
                    }
                    &:nth-child(odd) .week-header {
                        background-color: rgb(176, 199, 183);
                    }
                }

                .week-overlap {
                    border: rgb(189, 213, 239) solid 1.5px;
                    .to-do-lines-container {
                        height: 80%;
                        .cbx {
                            &:hover {
                                .tick-box {
                                    border-color: $focus-border-apr2022;
                                }

                                .input-field {
                                    border-color: $focus-border-apr2022;
                                }
                            }
                            input {
                                border-color: $input-border-default-apr2022;
                                box-shadow: $border-shadow-apr2022;
                            }
                            .tick-box {
                                background-color: $tick-box-background-apr2022;
                                border: 0.1em solid $input-border-default-apr2022;
                                &:before {
                                    background: $blink-color-apr2022;
                                }
                            }
                            .input-box {
                                &::after {
                                    background: $strike-line-apr2022;
                                }
                            }
                            .input-field {
                                background-color: $input-box-background-apr2022;
                            }
                        }
                    }
                }
            }
        }
    }
}
