.january-index {
    background-image: url(../../assets/jan2024/2024JanuaryDigitalPlanner.png);
}

.january-week1 {
    background-image: url(../../assets/jan2024/24janphonewallpaper2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;
    // .row {
    //     padding: 0;
    //     & > * {
    //         padding: 0.5em;
    //     }
    //     margin-right: 0;
    // }
    .outer-row {
        .inner-row {
            .week-fig::after {
                background-color: #aea7ca;
            }

            .week-overlap {
                border: rgb(154, 159, 180) solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px rgb(148, 141, 166);
                .week-fig {
                    height: 25%;
                    position: relative;
                    z-index: 1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 30%;
                        width: 100%;
                        left: 50%;
                        top: 60%;
                        z-index: -1;
                        transform: translate(-50%, -50%);
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}
.january-week2 {
    background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0.1) 30%, rgba(#fff, 0)),
        linear-gradient(to right bottom, rgba(#fff, 1), rgba(#fff, 1) 15%, rgba(#fff, 0) 30%, rgba(#fff, 0) 100%),
        url(../../assets/jan2024/JenniferMosesfireworks.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    // .row {
    //     padding: 0;
    //     & > * {
    //         padding: 0.5em;
    //     }
    //     margin-right: 0;
    // }
    .outer-row {
        .inner-row {
            .week-header {
                color: white;
                font-family: "Josefin Slab", serif;
                font-size: 1.5rem;
            }
            .week-header {
                background-color: #3d5c8a;
            }

            .week-overlap {
                border: #3d5c8a solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px #f8ecee;
            }
        }
    }
}
.january-week3 {
    .background-img {
        background-image: url(../../assets/jan2024/JanuaryShape.png), url(../../assets/jan2024/Fireworks.jpg);
        background-repeat: no-repeat;
        background-position:
            center center,
            center center;
        background-size: contain, cover;
        height: 10vh;
    }
    .container > .row {
        height: 42%;
    }
    .row {
        .day-box {
            height: 100%;
        }
        &:nth-child(-n + 1) .day-box {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                transform: translate(-50%, 0);
                width: 2px;
            }
            &:first-child::before {
                background-color: #e7c8d3;
                bottom: -20px;
                height: 80%;
                left: 0;
            }
            &:nth-child(2)::before {
                background-color: #e7c8d3;
                bottom: -20px;
                height: 50%;
                left: -1rem;
            }
            &:nth-child(3)::before {
                background-color: #dbc8e7;
                bottom: -20px;
                height: 60%;
                left: 0;
            }
            &:nth-child(4)::before {
                background-color: #e7c8e2;
                bottom: -20px;
                height: 70%;
                left: 1rem;
            }

            &:nth-child(odd) {
                &::after {
                    background-color: #e7c8d3;
                }
            }
            &:nth-child(even) {
                &::after {
                    background-color: #bbb2da;
                }
            }
        }
        &:nth-child(n + 2) .day-box {
            &:nth-child(odd) {
                &::after {
                    background-color: #e7c8d3;
                }
            }
            &:nth-child(even) {
                &::after {
                    background-color: #bbb2da;
                }
            }
        }
    }

    .week-overlap {
        .week-fig {
            height: 25%;
            position: relative;
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &::after {
                content: "";
                position: absolute;
                height: 30%;
                width: 100%;
                left: 50%;
                top: 60%;
                z-index: -1;
                transform: translate(-50%, -50%);
                border-radius: 20px;
            }
        }
    }
}
