.january-index {
    background-image: url(../../assets/jan2024/2024JanuaryDigitalPlanner.png);
}
.january {
    .to-do-lines-container {
        height: 80%;
        .cbx {
            &:hover {
                .tick-box {
                    border-color: $focus-border-jan;
                }

                .input-field {
                    border-color: $focus-border-jan;
                }
            }

            .tick-box {
                background-color: $tick-box-background-jan;
                border: 0.1em solid $input-border-default-jan;
                &:before {
                    background: $blink-color-jan;
                }
            }
            .input-box {
                &::after {
                    background: $strike-line-jan;
                }
            }
            .input-field {
                background-color: $input-box-background-jan; // 1
                border: 1.5px solid $input-border-default-jan;
                box-shadow: 0.1em 0.1em 0.4em $border-shadow-jan;
                color: $font-active-jan;
            }
        }
        .tick-box {
            &:checked + .cbx {
                .tick-box {
                    border-color: $tick-border-checked-jan;
                    background: $tick-box-checked-background-jan;
                }
                .input-field {
                    border-color: $tick-border-checked-jan;
                    color: $font-disabled-jan;
                    background-color: $tick-box-checked-background-jan;
                }
            }
        }
    }
}
.january-week1 {
    background-image: url(../../assets/jan2024/24janphonewallpaper2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;

    .outer-row {
        .inner-row {
            .week-fig::after {
                background-color: #aea7ca;
            }

            .week-overlap {
                border: rgb(154, 159, 180) solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px rgb(148, 141, 166);
                .week-fig {
                    height: 25%;
                    position: relative;
                    z-index: 1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 30%;
                        width: 100%;
                        left: 50%;
                        top: 60%;
                        z-index: -1;
                        transform: translate(-50%, -50%);
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}
.january-week2 {
    background-image: linear-gradient(to bottom, rgba(#fff, 1), rgba(#fff, 0.1) 30%, rgba(#fff, 0)),
        linear-gradient(to right bottom, rgba(#fff, 1), rgba(#fff, 1) 15%, rgba(#fff, 0) 30%, rgba(#fff, 0) 100%),
        url(../../assets/jan2024/JenniferMosesfireworks.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;

    .outer-row {
        .inner-row {
            .week-header {
                color: white;
                font-family: "Josefin Slab", serif;
                font-size: 1.5rem;
                background-color: #3d5c8a;
            }

            .week-overlap {
                border: #3d5c8a solid 1.5px;
                background-color: rgba(#fff, 0.5);
                box-shadow: 10px 5px 5px #f8ecee;
                .to-do-lines-container {
                    height: 80%;
                    .cbx {
                        &:hover {
                            .tick-box {
                                border-color: $focus-border-jan-2;
                            }

                            .input-field {
                                border-color: $focus-border-jan-2;
                            }
                        }

                        .tick-box {
                            background-color: $tick-box-background-jan-2;
                            border: 0.1em solid $input-border-default-jan-2;
                            &:before {
                                background: $blink-color-jan-2;
                            }
                        }
                        .input-box {
                            &::after {
                                background: $strike-line-jan-2;
                            }
                        }
                        .input-field {
                            background-color: $input-box-background-jan-2; // 1
                            border: 1.5px solid $input-border-default-jan-2;
                            box-shadow: 0.1em 0.1em 0.4em $border-shadow-jan-2;
                            color: $font-active-jan-2;
                        }
                    }
                    .tick-box {
                        &:checked + .cbx {
                            .tick-box {
                                border-color: $tick-border-checked-jan-2;
                                background: $tick-box-checked-background-jan-2;
                            }
                            .input-field {
                                border-color: $tick-border-checked-jan-2;
                                color: $font-disabled-jan-2;
                                background-color: $tick-box-checked-background-jan-2;
                            }
                        }
                    }
                }
            }
        }
    }
}
.january-week3 {
    .background-img {
        background-image: url(../../assets/jan2024/JanuaryShape.png), url(../../assets/jan2024/Fireworks.jpg);
        background-repeat: no-repeat;
        background-position:
            center center,
            center center;
        background-size: contain, cover;
        height: 10vh;
    }
    .container > .row {
        height: 42%;
    }
    .row {
        .day-box {
            height: 100%;
        }
        &:nth-child(-n + 1) .day-box {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                transform: translate(-50%, 0);
                width: 2px;
            }
            &:first-child::before {
                background-color: #e7c8d3;
                bottom: -20px;
                height: 80%;
                left: 0;
            }
            &:nth-child(2)::before {
                background-color: #e7c8d3;
                bottom: -20px;
                height: 50%;
                left: -1rem;
            }
            &:nth-child(3)::before {
                background-color: #dbc8e7;
                bottom: -20px;
                height: 60%;
                left: 0;
            }
            &:nth-child(4)::before {
                background-color: #e7c8e2;
                bottom: -20px;
                height: 70%;
                left: 1rem;
            }

            &:nth-child(odd) {
                &::after {
                    background-color: #e7c8d3;
                }
            }
            &:nth-child(even) {
                &::after {
                    background-color: #bbb2da;
                }
            }
        }
        &:nth-child(n + 2) .day-box {
            &:nth-child(odd) {
                &::after {
                    background-color: #e7c8d3;
                }
            }
            &:nth-child(even) {
                &::after {
                    background-color: #bbb2da;
                }
            }
        }
    }

    .week-overlap {
        // & > * {
        //     font-size: 3rem;
        // }
    }
    @media (max-width: 1200px) {
        .week-overlap {
            & > * {
                font-size: 1.8rem;
            }
        }
    }
}
