.landing-menu {
    // navbar
    min-height: 80vh;
    .container > .row:nth-child(3) {
        min-height: 80%;
        .row > .col-12.col-md-6 {
            min-height: calc(100% / 3); // unless it is evenly
            max-height: calc(100% / 3); // unless it is evenly
            .py-3 {
                height: 100% !important;
            }
        }
    }
    .nav #marker {
        position: absolute;
        left: 0;
        height: 4px;
        width: 0;
        bottom: 0;
        transition: 0.5s;
        border-radius: 4px;
    }
    .nav-link::after {
        content: none !important;
    }
    // content
    #gold .overlay {
        background-color: #ebd9b4;
    }
    #prelude .overlay {
        background-color: #c3acd0;
    }
    #perano .overlay {
        background-color: #adc4ce;
    }
    #frost .overlay {
        background-color: #86a789;
    }
    #moccasin .overlay {
        background-color: #eeedeb;
    }
    #tomato .overlay {
        background-color: #c68484;
    }
    .col-12.col-md-6 {
        * {
            transition: all 0.5s ease !important;
        }
        .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Pinyon Script";
            font-size: 1.3rem;
            letter-spacing: 2px;
            opacity: 0;
            .text-overlay {
                display: inline-block;
                text-align: center;
            }
        }
        &:hover,
        &:active {
            .ratio.ratio-1x1 {
                img {
                    transform: scale(0.95) !important;
                }
                .overlay {
                    opacity: 0.7;
                    .text-overlay {
                        .text {
                            color: rgb(251, 251, 251);
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            animation: typing 0.8s ease-in;
                        }
                    }
                }
            }
            .col-7 {
                opacity: 0.5;
            }
        }
    }
}
.landing-section {
    @media (prefers-reduced-motion: no-preference) {
        .media-decoration-img {
            animation: fade-in linear forwards;
            animation-timeline: view();
            animation-range-start: cover; //enrey
            animation-range-end: contain;
        }
    }
}

.landing-dish {
    .img-overlay {
        overflow: hidden;
        width: 0 !important;
        height: 100%;
        transition: 0.5s ease-in-out;
    }
    .card:hover .img-overlay {
        width: 100% !important;
    }
    .card.border-0:hover {
        .img-overlay {
            width: 100%;
        }
    }
}
.landing-peoplesay {
    min-height: 60vh;
    /* Brightness-zoom Container */
}
.landing-gallery {
    min-height: 100vh;
    /* Colorize-zoom Container */
}
