.landing-menu {
    // navbar
    .nav #marker {
        position: absolute;
        left: 0;
        height: 4px;
        width: 0;
        bottom: 0;
        transition: 0.5s;
        border-radius: 4px;
    }
    .nav-link::after {
        content: none !important;
    }
    // content
    #gold .overlay {
        background-color: #ebd9b4;
    }
    #prelude .overlay {
        background-color: #c3acd0;
    }
    #perano .overlay {
        background-color: #adc4ce;
    }
    #frost .overlay {
        background-color: #86a789;
    }
    #moccasin .overlay {
        background-color: #eeedeb;
    }
    #tomato .overlay {
        background-color: #c68484;
    }
    .col-12.col-md-6 {
        * {
            transition: all 0.5s ease !important;
        }
        .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Pinyon Script";
            font-size: 1.3rem;
            letter-spacing: 2px;
            opacity: 0;
            .text-overlay {
                display: inline-block;
                text-align: center;
            }
        }
        &:hover,
        &:active {
            .ratio.ratio-1x1 {
                img {
                    transform: scale(0.95) !important;
                }
                .overlay {
                    opacity: 0.7;
                    .text-overlay {
                        .text {
                            color: rgb(251, 251, 251);
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            animation: typing 0.8s ease-in;
                        }
                    }
                }
            }
            .col-7 {
                opacity: 0.5;
            }
        }
    }
}
.landing-dish {
    img.card-img-top {
        height: 20%;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
}
