.september-week {
	margin: 0 2rem;
	padding: 0;
	background-color: #ffffff;
	/* box-shadow: 0.2rem #00000040; */
	height: 982px;
	max-width: 1512px;
	border: 1rem, solid, #54a5d2;
}

.september-week .overlap {
	height: 100%;
	width: 100%;
	position: relative;
}

.september-week .background {
	background-image: url(../../assets/img/background.png);
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	/* left: 0;
	position: absolute;
	top: 0; */
}

.september-week .rabbit-mother-overlap-group {
	height: 220px;
	left: 212px;
	position: absolute;
	top: 729px;
	max-width: 228px;
}

.september-week .star-vector-3 {
	height: 63px;
	left: 167px;
	position: absolute;
	top: 98px;
	max-width: 61px;
}

.september-week .rabbit-mother {
	height: 220px;
	left: 0;
	position: absolute;
	top: 0;
	max-width: 202px;
}

.september-week .star-vector-2 {
	height: 60px;
	left: 492px;
	position: absolute;
	top: 228px;
	max-width: 64px;
}

.september-week .star-vector-1 {
	height: 60px;
	left: 953px;
	position: absolute;
	top: 727px;
	max-width: 61px;
}

.september-week .september-overlap-group {
	height: 129px;
	left: 135px;
	position: absolute;
	top: 600px;
	max-width: 279px;
}

.september-week .star-vector-4 {
	height: 71px;
	left: 0;
	position: absolute;
	top: 0;
	max-width: 73px;
}

.september-week .september-label {
	height: 115px !important;
	left: 0 !important;
	position: absolute !important;
	top: 14px !important;
	max-width: 279px !important;
}

/* rabbit-stamp-overlap-group   */

.september-week .rabbit-stamp-overlap-group {
	height: 17em;
	width: 16em;
	left: 1141px;
	position: absolute;
	top: 119px;
	max-width: 202px;
	border: 5px solid red;
}
.september-week .rabbit-stamp-overlap-group > *:not(.border-of-stamp) {
	position: absolute;
}
.september-week .border-of-stamp {
	width: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	max-width: 203px;
}
.september-week .star-vector-5 {
	height: 3rem;
	right: 1rem;
	bottom: 2rem;
	max-width: 40px;
}

.september-week .shadow {
	height: 4rem;
	left: 17%;
	bottom: 1%;
	max-width: 115px;
	box-shadow: none !important;
}

.september-week .rabbit-run {
	height: 12rem;
	left: 17%;
	top: 15%;
	object-fit: cover;
	max-width: 126px;
}

.september-week .head-shadow {
	height: 3rem;
	left: 5%;
	top: 5%;
	max-width: 31px;
}

.september-week .text-wrapper-inspiration {
	color: #54a5d2;
	font-family: "Inspiration", Helvetica;
	font-size: 2rem;
	font-weight: 400;
	right: 1rem;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 5%;
}

.september-week .rabbit-stamp-line {
	height: 5rem;
	right: 2.7rem;
	top: 0%;
	max-width: 3px;
}

.september-week .overlap-group-1 {
	height: 276px;
	position: relative;
	max-width: 203px;
}
.september-week .tuesday {
	height: 300px;
	left: 564px;
	position: absolute;
	top: 165px;
	max-width: 222px;
}

.september-week .overlap-2 {
	height: 300px;
	position: relative;
}

.september-week .monday-vector {
	height: 270px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 30px;
	max-width: 222px;
}

.september-week .tuesday-shape {
	height: 66px;
	left: 25px;
	position: absolute;
	top: 0;
	max-width: 167px;
}

.september-week .to-do-lines-2 {
	height: 186px;
	left: 25px;
	position: absolute;
	top: 72px;
	max-width: 173px;
}

.september-week .my-todo-list-1 {
	height: 22px !important;
	left: 0 !important;
	position: absolute !important;
	top: 0 !important;
	width: 173px !important;
}

.september-week .todo-instance {
	top: -1px !important;
}

/* .september-week .design-component-instance-node {
	height: 22px !important;
	width: 141px !important;
} */

/* .september-week .my-todo-list-2 {
	margin-right: unset !important;
} */

.september-week .my-todo-list-2 {
	height: 22px !important;
	left: 0 !important;
	position: absolute !important;
	top: 41px !important;
	width: 173px !important;
}

.september-week .my-todo-list-3 {
	height: 22px !important;
	left: 0 !important;
	position: absolute !important;
	top: 82px !important;
	width: 173px !important;
}

.september-week .my-todo-list-4 {
	height: 22px !important;
	left: 0 !important;
	position: absolute !important;
	top: 123px !important;
	width: 173px !important;
}

.september-week .my-todo-list-5 {
	height: 22px !important;
	left: 0 !important;
	position: absolute !important;
	top: 164px !important;
	width: 173px !important;
}

.september-week .friday {
	height: 292px;
	left: 714px;
	position: absolute;
	top: 507px;
	width: 222px;
}

.september-week .overlap-5 {
	height: 292px;
	position: relative;
	width: 223px;
}

.september-week .friday-vector {
	height: 270px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 23px;
	width: 223px;
}

.september-week .friday-shape {
	height: 66px;
	left: 30px;
	position: absolute;
	top: 0;
	width: 161px;
}

.september-week .to-do-lines-5 {
	height: 186px;
	left: 24px;
	position: absolute;
	top: 73px;
	width: 173px;
}

.september-week .weekend {
	height: 293px;
	left: 998px;
	position: absolute;
	top: 507px;
	width: 222px;
}

.september-week .overlap-6 {
	height: 294px;
	position: relative;
	width: 223px;
}

.september-week .weekend-shape {
	height: 42px;
	left: 14px;
	position: absolute;
	top: 0;
	width: 196px;
}

.september-week .weekend-vector {
	height: 270px;
	left: 0;
	position: absolute;
	top: 24px;
	width: 223px;
}

.september-week .to-do-lines-6 {
	height: 186px;
	left: 26px;
	position: absolute;
	top: 77px;
	width: 173px;
}

.september-week .thursday {
	height: 288px;
	left: 430px;
	position: absolute;
	top: 512px;
	width: 222px;
}

.september-week .overlap-4 {
	height: 288px;
	position: relative;
	width: 224px;
}

.september-week .thursday-vector {
	height: 270px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 18px;
	width: 224px;
}

.september-week .thursday-shape {
	height: 61px;
	left: 10px;
	position: absolute;
	top: 0;
	width: 201px;
}

.september-week .to-do-lines-4 {
	height: 186px;
	left: 24px;
	position: absolute;
	top: 68px;
	width: 173px;
}

.september-week .monday {
	height: 300px;
	left: 281px;
	position: absolute;
	top: 165px;
	width: 222px;
}

.september-week .monday-shape {
	height: 66px;
	left: 30px;
	position: absolute;
	top: 0;
	width: 171px;
}

.september-week .to-do-lines-1 {
	height: 186px;
	left: 28px;
	position: absolute;
	top: 76px;
	width: 173px;
}

.september-week .wednesday {
	height: 297px;
	left: 849px;
	position: absolute;
	top: 168px;
	width: 222px;
}

.september-week .overlap-3 {
	height: 297px;
	position: relative;
}

.september-week .wednesday-vector {
	height: 270px;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 27px;
	width: 222px;
}

.september-week .wednesday-shape {
	height: 66px;
	left: 10px;
	position: absolute;
	top: 0;
	width: 204px;
}

.september-week .to-do-lines-3 {
	height: 186px;
	left: 24px;
	position: absolute;
	top: 69px;
	width: 173px;
}
