.june-index {
    background-image: url(../../assets/june2021/2021JuneDigitalBujo.png);
}
.june-week1 {
    height: 100%;
    .row {
        height: 100%;
        .col {
            padding: 0;
            margin: 0 4px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            position: relative;
            &:nth-child(1) {
                .img-header,
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-1.jpg);
                }
                .img-header {
                    height: 10%;
                }
                .img-footer {
                    height: 20%;
                    background-position: bottom center;
                }
                .week-overlap {
                    height: 60%;
                }
            }
            &:nth-child(2) {
                .img-header {
                    background-image: url(../../assets/june2021/monet-june-6.png);
                    background-position: top 30% center;
                    height: 15%;
                }
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-5.png);
                    background-position: bottom center;
                    height: 25%;
                }
                .week-overlap {
                    height: 55%;
                }
            }
            &:nth-child(3) {
                .img-header,
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-3.jpg);
                }
                .img-header {
                    height: 15%;
                }
                .img-footer {
                    height: 15%;
                    background-position: bottom 20% right;
                }
                .week-overlap {
                    height: 60%;
                }
            }
            &:nth-child(4) {
                .img-header,
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-4.jpg);
                }
                .img-header {
                    height: 20%;
                    background-position: top 20% center;
                }
                .img-footer {
                    height: 20%;
                    background-position: bottom 20% center;
                }
                .week-overlap {
                    height: 55%;
                }
            }
            &:nth-child(5) {
                .img-header,
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-2.jpg);
                }
                .img-header {
                    height: 12%;
                }
                .img-footer {
                    height: 18%;
                    background-position: bottom center;
                }
                .week-overlap {
                    height: 65%;
                }
            }
            &:nth-child(6) {
                .img-header,
                .img-footer {
                    background-image: url(../../assets/june2021/monet-june-4.jpg);
                }
                .img-header {
                    height: 14%;
                    background-position: top 30% center;
                }
                .img-footer {
                    height: 16%;
                    background-position: top 50% right;
                }
                .week-overlap {
                    height: 30%;
                }
            }
            .img-header,
            .img-footer {
                width: 100%;
                position: relative;
                border: #b5a2bf solid 4px;
                background-size: cover;
                &:nth-child(even) {
                    span.d-flex {
                        top: -5%;
                    }
                }
                &:nth-child(odd) {
                    span.d-flex {
                        bottom: -40%;
                    }
                }
            }
            .week-overlap {
                border: #b5a2bf solid 3px;

                .week-fig {
                    width: 90%;
                    position: relative;
                    img {
                        filter: brightness(0) saturate(100%) invert(84%) sepia(40%) saturate(4154%) hue-rotate(208deg)
                            brightness(86%) contrast(76%);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1em;
                        border-radius: 15px;
                        background-color: #b5a2bf;
                        background: linear-gradient(
                            0deg,
                            rgba(172, 135, 197, 0.8701855742296919) 0%,
                            rgb(192, 157, 195) 49%,
                            rgba(187, 156, 192, 0.7749474789915967) 100%
                        );
                        transform: translate(-50%, -50%);
                        top: 60%;
                        left: 50%;
                        z-index: -1;
                    }
                }
            }
        }
    }
}
.june-week2 {
    .row.justify-content-between {
        height: 100%;
        width: 100%;
    }
    .col-4 {
        height: calc(100% + 1rem);
        .row {
            height: 22.5%;
            padding: 0;
            margin: 4px 0;
        }
    }
    .left-banner {
        .row {
            width: 120%;
        }
        .left-bg {
            height: 70%;
            background-color: #b5a2bf;
            background-image: url(../../assets/june2021/monet-june-4.jpg);
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }
        .container {
            header.row {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 30%;
                    transform: translate(-50%, -50%);
                    background-color: #b5a2bf;
                    z-index: -1;
                }
            }
        }
    }
    .right-banner {
        .right-bg {
            height: 80%;
            width: 100%;
            background-color: #b5a2bf;
            background-image: url(../../assets/june2021/monet-june-6.png);
            background-position: center left;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .week-overlap {
        border: #8095c0 solid 2px;
        position: relative;
        height: 100%;
        span.d-flex {
            border: #8095c0 solid 2px;
            -webkit-box-shadow: 40px 47px 35px -8px rgba(182, 187, 224, 1);
            -moz-box-shadow: 40px 47px 35px -8px rgba(182, 187, 224, 1);
            box-shadow: 10px 17px 5px -8px rgba(182, 187, 224, 1);
            background-color: rgb(255, 255, 255);
            position: absolute;
            text-align: center;
            line-height: 1;
            font-family: "Kalam", cursive;
            font-weight: bold;
            width: 6em;
            height: 1.5em;
            top: -2%;
            left: 20%;
            transform: translate(-50%, -50%);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .to-do-lines-container {
            overflow-y: scroll;
        }
    }
}
.june-week3 {
    height: 100%;
    justify-content: space-between;
    .row {
        height: 100%;
    }
    .siderow {
        height: 100%;
        width: 100%;
        &.left-side {
            margin-right: 5%;
            .row:first-child {
                position: relative;
                height: calc(100% / 3);
                & > * {
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .img-bg {
                    background-image: url(../../assets/june2021/monet-june-4.jpg);
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-position: right center;
                    width: 125%;
                    height: 100%;
                    top: 80%;
                    left: 50%;
                    margin-bottom: 5rem;
                }
                .topline {
                    border-top: #6875e7 solid 3px;
                    top: 20%;
                    left: 60%;
                    width: 110%;
                    height: 4px;
                }
                .bottomline {
                    border-bottom: #6875e7 solid 3px;
                    bottom: 0;
                    left: 60%;
                    width: 120%;
                    height: 4px;
                }
                .leftline {
                    width: 10px;
                    height: 125%;
                    border-left: #6875e7 solid 3px;
                    top: 70%;
                    left: 20%;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: #6875e7;
                        top: 40%;
                        left: 0;
                        transform: translate(-50%, -50%);
                    }
                }
                .rightline {
                    width: 10px;
                    height: 150%;
                    border-left: #6875e7 solid 3px;
                    top: 80%;
                    left: 100%;
                }
            }
            .row:last-child {
                height: calc(100% / 3 * 2);
            }
        }
        &.right-side {
            position: relative;
            .row:first-child {
                height: 50%;
            }

            .row:last-child {
                height: 50%;
                width: 100%;
                position: relative;
                & > * {
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .img-bg {
                    background-image: url(../../assets/june2021/monet-june-9.JPG);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: right center;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 45%;
                }
                .topline {
                    border-top: #6875e7 solid 3px;
                    top: 20%;
                    left: 60%;
                    width: 110%;
                    height: 4px;
                }
                .bottomline {
                    border-bottom: #6875e7 solid 3px;
                    bottom: 0;
                    left: 60%;
                    width: 120%;
                    height: 4px;
                }
                .leftline {
                    width: 10px;
                    height: 125%;
                    border-left: #6875e7 solid 3px;
                    top: 40%;
                    left: 20%;
                }
                .rightline {
                    width: 1px;
                    height: 100%;
                    border-right: #6875e7 solid 3px;
                    top: 55%;
                    left: 100%;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        background-color: #6875e7;
                        top: 40%;
                        left: 35px;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .weekdaybox {
            border-top: #6875e7 solid 2px;
            &:last-child {
                border-bottom: #6875e7 solid 2px;
            }
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            & > * {
                font-family: "Style Script", cursive;
                font-size: 2.5rem;
                line-height: 2;
                text-align: center;
            }

            .weekdaytxt {
                border-left: #6875e7 solid 2px;
                grid-column-start: 1;
                grid-column-end: 2;
                justify-content: center;
                align-items: center;
            }
            .weekdaydoes {
                border-left: #6875e7 solid 2px;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}
.june-week4 {
    background-image: url(../../assets/june2021/monet-june-6.png);
    background-repeat: no-repeat;
    background-size: cover;
    .week-overlap {
        border: #8095c0 solid 4px;
        background-color: white;
        span.d-flex {
            justify-content: center;
            span {
                font-size: 1.5em;
                z-index: 1;
                font-family: "Kalam", cursive;
            }
        }
        .week-header {
            position: relative;
            &::after {
                position: absolute;
                border-radius: 0.2rem;
                content: "";
                transform: translate(-50%, -50%);
                width: 80%;
                height: 30%;
                bottom: 20%;
                left: 50%;
                background-color: #bcbed2;
            }
        }
    }
    .row:last-child > .col-lg-3:last-child {
        background-color: rgba(255, 255, 255, 0.76);
        header {
            position: relative;
            &::after {
                content: "";
                border-radius: 6px;
                position: absolute;
                width: 100%;
                height: 20%;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                background-color: #aaacbf;
            }
            .col {
                z-index: 1;
            }
        }
    }
}
