.rabbit-stamp-overlap-group figure {
	padding: 0;
	margin: 0;
}
.rabbit-stamp-overlap-group img {
	display: block;
}
.rabbit-stamp-overlap-group {
	position: relative;
	max-width: 225px;
	min-width: 160px;
	aspect-ratio: 2/3;
	border-image-source: url(../../../assets/img/border-of-stamp.svg);
	border-image-slice: 19 16 19 16;
	border-image-width: 1em 1em 1em 1em;
	position: relative;
	background-color: #fff;
}

.star-vector-5 {
	position: absolute;
	height: 3rem;
	right: 1rem;
	bottom: 2rem;
	max-width: 40px;
}

/* .rabbit-shadow {
	height: 4rem;
	left: 17%;
	bottom: 1%;
	max-width: 115px;
} */
.fig-rabbit {
	width: 70%;
	max-width: 252px;
	aspect-ratio: 2/3 auto;
	max-height: 378px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.rabbit-run {
	width: 100%;
	height: auto;
}

.fig-shadow {
	position: absolute;
	left: 50%;
	bottom: 1%;
	transform: translate(-50%, -50%);
	max-width: 115px;
}
.rabbit-shadow {
	width: 100%;
	height: auto;
}

.head-shadow {
	position: absolute;
	height: 3rem;
	left: 5%;
	top: 5%;
	max-width: 31px;
}

.text-wrapper-inspiration {
	position: absolute;
	color: #54a5d2;
	font-family: "Inspiration", Helvetica;
	font-size: 2rem;
	font-weight: 400;
	right: 1rem;
	letter-spacing: 0;
	line-height: normal;
	position: absolute;
	top: 5%;
}

.rabbit-stamp-line {
	position: absolute;
	height: 5rem;
	right: 2.7rem;
	top: 0%;
	max-width: 3px;
}
