.september-week-computer {
	margin: 0 auto;
	/* display: flex; */
	min-width: 1200px;
	position: relative;
	max-width: 2000px;
}

.content {
	position: relative;
	left: 5px;
	margin: 5em auto;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px, 1px 0px 0px 2em #b3a492;
	border-radius: 1em;
	position: relative;
	background-image: url(../../assets/img/blue-circle-deep.png),
		url(../../assets/img/blue-circle.png),
		url(../../assets/img/star-vector-1.svg),
		url(../../assets/img/star-vector-2.svg);
	background-size: 400px, 400px, 61px, 62px;
	background-repeat: no-repeat;
	background-position: top -150px left -150px, bottom -150px right -150px,
		top 40% right 30%, bottom 40% left 20%;
	min-width: 342px;
	max-width: min(90%, 1694px);
}
.sidebar {
	position: absolute;
	display: block;
	z-index: 3;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.sep-week-box-computer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
	width: 80%;
	text-align: center;
}
.week-line {
	display: flex;
	gap: 2em;
}
.week-bottom {
	direction: rtl;
	margin-top: 3rem;
}
.week-box {
	direction: ltr;
}
.thursday {
	order: 3;
}
.friday {
	order: 2;
}

.weekend {
	order: 1;
}

.september-week-computer .rabbit {
	width: 10vw;
	position: absolute;
	top: 1%;
	right: 2%;
	z-index: -1;
}
.september-week-computer .WeekContainer {
	padding: 10rem 0;
	margin: auto auto;
	max-width: 1210px;
}
.september-week-computer .WeekContainer .week-box {
	min-width: 274px;
	max-width: 280px;
}

.september-week-computer .rabbitmother {
	width: 10vw;
	position: absolute;
	bottom: 1%;
	left: 2%;
	z-index: -1;
}
.september-week-computer .septemberlabel {
	position: absolute;
	bottom: 15rem;
	left: 2%;
	z-index: -2;
}
