@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,500;1,200;1,300;1,500&family=Caveat&family=Indie+Flower&family=Shadows+Into+Light&family=Sono:wght@300;400;500;600&display=swap");

.september-week-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1200px;
    max-width: 2000px;
    .week-box-container {
        position: relative;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px,
            1px 0px 0px 2em #b3a492;
        border-radius: 0.5em;
        background-image: url(../../assets/img/sepweek1bg.png);
        height: 700px;
        .sidebar {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .row {
            height: 100%;
            .day-box {
                border-left: 2px solid rgba(151, 157, 160, 0.455);
                .week-overlap {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .week-date-num {
                        display: flex;
                        height: 2rem;
                        width: 2rem;
                        justify-content: center;
                        align-items: center;
                        font-family: Aleo;
                        font-style: italic;
                        border-radius: 50%;
                        background-color: rgb(217, 241, 252);
                    }
                }
                &:last-child {
                    .week-date-num {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
