@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,500;1,200;1,300;1,500&family=Caveat&family=Indie+Flower&family=Shadows+Into+Light&family=Sono:wght@300;400;500;600&display=swap");

.september-week-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1200px;
    max-width: 2000px;
    .week-box-container {
        position: relative;
        background-image: url(../../assets/img/sepweek1bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        .sidebar {
            position: absolute;
            display: block;
            height: 100%;
            z-index: 3;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        .week-date-num {
            font-family: Aleo;
            border-radius: 50%;
        }
    }
}
