:root {
	--sep-thursday-todolines-height: 1.75rem;
}
figure {
	padding: 0;
	margin: 0;
}

.sep-thursday-box {
	width: 100%;
	height: auto;
	border-image-source: url(../../assets/img/friday-vector.svg);
	border-image-slice: 13 27 27 27;
	border-image-width: 1em 2em 2em 2em;
	border-image-outset: 0em 0em 0em 0em;
	border-image-repeat: stretch stretch;
}
.sep-thursday-box .week-overlap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	padding: 1.5em;
	position: relative;
}
.sep-thursday-box .fig-thursday {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sep-thursday-box .to-do-lines-container {
	width: 80%;
	height: 65%;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 100%;
	gap: 0.5rem;
}
.sep-thursday-box .my-todo-list .tick-box {
	width: var(--sep-thursday-todolines-height);
}
.sep-thursday-box .my-todo-list .cbx {
	column-gap: 5%;
}
.sep-thursday-box .my-todo-list .tick-box,
.sep-thursday-box .my-todo-list .input-box,
.sep-thursday-box .my-todo-list .input-field {
	height: var(--sep-thursday-todolines-height);
}
